h1, h2{
    font-family: Verdana;
    font-size: large;
    align-items: center;
}
head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.end{
    align-items: center;
    text-align: center;
}
body{
    align-items: center;
    text-align: center;
}
.yellow{
    background-color: yellow;
    height: 50vh; /* altezza del 50% della viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}
.purple{
    background-color: purple;
    height: 50vh; /* altezza del 50% della viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}
.green{
    background-color: green;
    height: 50vh; /* altezza del 50% della viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}
.brown{
    background-color: brown;
    height: 50vh; /* altezza del 50% della viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}
.red {
    background-color: red;
    height: 50vh; /* altezza del 50% della viewport */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.blue {
    background-color: blue;
    height: 50vh; /* altezza del 50% della viewport */
    display: flex;
    justify-content: center;
    align-items: center;
  }

button {
    font-size: 20px;
    padding: 10px 20px;
}